{% extends 'base.html.twig' %}

{% block breadcrumb %}

    IL VALORE DI TEST E': {{test}}

    <form action="/" method="post">
        <input type="text" name="prova" id="prova" />
        <button type="submit">submit</button>
    </form>

{% endblock %}