{% extends 'base.html.twig' %}

{% block breadcrumb %}

    <ul>
        {% for contact in contacts %}
        <li>
            {{contact}}
        </li>
        {% endfor %}
    </ul>

{% endblock %}